# Ignoring copyrighted fonts
*.TTF

# Ignoring tools for making sprites
*.aseprite
/notes.txt

# Ignoring android export files
android/**

# Godot-specific ignores
.import/
*.import
export.cfg
export_presets.cfg

# Mono-specific ignores
.mono/
data_*/

